*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header{
  background-color: #282829;
  padding: 20px 0;
}
.container{
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}
.header__link{
  color: #ffffff;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
}
.eek{
  padding-top: 114px;
  padding-bottom: 102px;
}


.rtt{
  margin-top: 50px;
  color: #000000;
  font-family:"Inter";
  font-size: 50px;
  font-weight: 20px;
  line-height: 98px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 50px;
}
.hero__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.hero__item{
  width: 390px;
  text-align: center;
}
.header__list{
  list-style: none;
} 
.ozod{
  width: 600px;margin: 0 auto;
}
.nero{
margin-top: 20px;
  color: rgb(0, 0, 0);
  font-family: "Inter";
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
}
.hero__text{
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center ;
  margin-bottom: 20px;
  margin-left: 10px;
}
.header{
  background-color: #282829;
  padding: 20px 0;
}